__pycache__/
*.py[cod]
*$py.class
*.so
*.apk
*.bin
*.log
*.zip
.vscode/
captures/
data/apk_extracted/
data/Il2CppDumper.zip
data/base.apk
data/base.zip
data/libil2cpp.so
frida/frida-server
Il2CppDumper-net7-win-v6.7.46/
bot/_delete/
frida/_delete/
